*{
    font-family: monospace;
    margin: 0;
    padding: 0;
}

nav{
    text-align: right;
    margin: 30px;
}

nav a{
    font-size: 15px;
    display: inline-block;
    color: rgb(2, 2, 2);
    font-weight: 600;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    padding: 3px;
}

nav a:hover{
    background-color: rgba(190, 44, 0, 0.692);
    color: black;
    text-decoration: none;
}

header{
    width: 100%;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.411);
    background-attachment: fixed; /* fijar la imagen, la imagen no se mueve */
    background-position: center; 
    background-size: cover; /*tamano de imagen se adapta al header*/
    position: relative; 
    overflow: hidden; /*Se oculta cada que se hace scroll*/
    color: rgb(20, 3, 22);
    text-align: center;
}

header .titulo{
    font-size: 70px;
    margin-top: 2px;
    margin-bottom: 0px;
}

header .logo{
    align-items: left;
}

#tabla{
    margin: auto;
    text-align: center;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.411);
}

.publicacion{
    margin: 20px 80px 0 100px;
    padding: 100px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    font-size: 45px;
    margin: 2px;
}
img.logo{
    float: left;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 15px;
}
img.godzilla{
    float: left;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 50px;
}
img.samurai{
    float: right;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-right: 50px;
}
img.ambos{
    float: left;
    margin-right: 50px;
    margin-left: 400px;
}
table.tabla1{
    text-align: center;
    font-size: 30px;
}
.polig{
    text-align: center;
    font-size: 20px;
    width:500px;
    height:500px;
    border: rgb(197, 92, 92) 2px solid;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.411);
}
.polig2{
    text-align: center;
    font-size: 20px;
    width:200px;
    height:170px;
    border: rgb(197, 92, 92) 2px solid;
    margin-top: 130px;
    margin-left: 1000px;
    margin-right: 150px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.411);
}

table.tabla2{
    border-collapse: collapse;
    text-align: center;
    font-size: 20px;
}
td{
    margin: 20px;
    padding: 20px;
}
th.precio{
    width: 200px;
}
.video{
    margin-left: auto;
    margin-right: auto;
    display: block
}
.info{
    text-align: center;
}    

.boton {
    background-color: #c94c4c;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.boton:hover{
    color: black;
    background-color: #ca8787 ;
    text-decoration: none;
}

