*{
    font-family: monospace;
}

ul{
    text-align: right;
    font-size: 18px;
}
li{
    display: inline;
    padding-right: 0.5em;
    margin-right: 10px;
}
h1{
    text-align: center;
    font-size: 45px;
    margin: 2px;
}
img.logo{
    float: left;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 15px;
}
img.godzilla{
    float: left;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 50px;
}
img.samurai{
    float: right;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-right: 50px;
}
img.ambos{
    float: left;
    margin-right: 50px;
    margin-left: 400px;
}
table.tabla1{
    text-align: center;
    font-size: 30px;
}
.polig{
    text-align: center;
    width:500px;
    height:400px;
    border: rgb(197, 92, 92) 2px solid;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}
.polig2{
    text-align: center;
    width:200px;
    height:170px;
    border: rgb(197, 92, 92) 2px solid;
    margin-top: 130px;
    margin-left: 1000px;
    margin-right: 150px;
    padding: 8px;
}
table.tabla2{
    border-collapse: collapse;
    text-align: center;
    font-size: 20px;
}
td{
    margin: 20px;
    padding: 20px;
}
th.precio{
    width: 200px;
}
.video{
    margin-left: auto;
    margin-right: auto;
    display: block
}
.info{
    text-align: center;
}    

.boton {
    background-color: #c94c4c;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.boton:hover{
    color: black;
    background-color: #ca8787 ;
    text-decoration: none;
}
#nav{
    background-color: rgb(197, 92, 92);
    height: 40px;
    padding: 10px;
    float: center;
}